.box{
  border:1px solid black;
  width: 500px;
}

.item-img{
  width:450px;
}

.main{
  display: flex;
  justify-content: center;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

.start-button {
  /* background-image: url('/public/images/button_start1.png'); */
  width: auto;
  height: auto;
}

.start-button:hover {
  background-image: url('/public/images/button_start2.png');
}



